body{

    background-color :aliceblue ;


}

#header ul{
    background-color: blanchedalmond;

}

#header li{

    text-decoration: none;
    color: green;
    display: inline-block;
}
#header a:hover{

    font-size: 20px;


}